.messages {
  max-width: 678px;
  margin: 10px;
  scroll-behavior: smooth;
}
.message_content i {
  font-size: 0.8rem;
  padding: 0 15px;
}
.message {
  max-width: 60%;
  min-height: 20px;
  margin: 5px;
  padding: 7px 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 20px;
  word-wrap: break-word;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25),
    0 0 0px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25),
    0 0 0px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 4px rgba(143, 143, 143, 0.25),
    0 0 0px rgba(0, 0, 0, 0.25) inset;
}
.other_user {
  margin: 0;
  padding: 5px;
  text-transform: capitalize;
}
.others_messages {
  background: #f1f1f1;
}

.user_messages {
  background: rgb(34, 226, 34);
  color: #fff;
}

.opacity_none {
  opacity: 0;
}
.opacity_animation {
  animation-name: opacity;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.box_shadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
    0 0 0px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
    0 0 0px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1) inset;

  animation-name: opacity;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  padding: 5px;
  z-index: 1000;
  cursor: pointer;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;
  transform: scaleX(1.03);
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes msg_slide_down {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
